
{% extends "trainer_app/templates/base_trainer.html" %}
{% load static %}


{% block content %}

<div class="container">
    <form enctype="multipart/form-data" action="{% url 'description_and_image' id=cap_id %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-1">
                <a class="btn btn-primary" style="font-size: 150%; margin-top: 450px;" href="{% url 'capability_name' id_str=cap_id %}">
                    🡠
                </a>
            </div>
            <div class="col">
                <div class="container" style="margin-top: 40px; padding-bottom: 40px; text-align: center;border-style: solid;border-radius: 10px;border-color: darkgrey; border-width: thin;">
                    <h1 style="margin-top: 20px; margin-bottom: 30px;">Choose a description</h1>
                    <div>
                        {{ form.cap_desc }}
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col">
                <div class="container" style="padding-bottom: 40px;margin-top: 50%; text-align: center;border-style: solid;border-radius: 10px;border-color: darkgrey; border-width: thin;">
                    <h1 style="margin-top: 20px; margin-bottom: 30px;">Choose an image</h1>
                    <div>
                        {{ form.cap_image }}
                    </div>
                </div>
            </div>
            <div class="col-1">
                <input class="btn btn-primary" style="font-size: 150%; margin-top: 450px;" type="submit" value="🡢" />
            </div>
        </div>
    </form>
</div>

{% endblock %}