
{% extends "trainer_app/templates/base_trainer.html" %}
{% load static %}


{% block content %}

<style>
    
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>
<div class="container">
    <form action="{% url 'capability_name' id_str=cap_id %}" method="POST">
        {% csrf_token %}
        <div class="row" style="height: 75%;">
            <div class="col-2"></div>
            <div class="col">
                <div class="container center" style="padding-top: 5%; border-style: solid;border-radius: 10px;border-color: darkgrey; border-width: thin; position: relative; height: 300px; overflow: auto; display: block;">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <div style="text-align: center;">
                                <h1 style="margin-bottom: 15%;">Choose a name</h1>
                            </div>
                            <div style="text-align: center;">
                                {{ form.cap_name }}
                            </div>
                        </div>
                        <div class="col-2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <input class="btn btn-outline-primary center" style="font-size: 150%;" type="submit" value="🡢" />
            </div>
        </div>
    </form>
</div>

{% endblock %}