
{% extends "trainer_app/templates/base_trainer.html" %}
{% load static %}


{% block content %}


<div class="container">
    <form action="#" method="POST" >
        {% csrf_token %}
        <div class="row" style="margin-top: 30;">
            <div class="col-2" style="text-align: left;">
                <div class="col-1">
                    <a class="btn btn-primary" style="font-size: 150%" href="{% url 'objectives' id=cap_id %}">
                        🡠
                    </a>
                </div>
                <label id="label"></label>
                <hr>
                <div>
                    <i><u>Capability plan:</u></i>
                </div>
                <div style="margin-left: 10;">
                    <i>{{cap_name}}</i>
                </div>
                <br>
                <br>
                <div>
                    <i><u>Objectives:</u></i>
                </div>
                <div class="list-group" style="height: 200; overflow: auto; margin-top: 10;" id="obj_list" role="tablist">
                    {% for objective in cap_obj %}
                        <a class="list-group-item list-group-item-action list-group-item-primary" data-toggle="list" href="#" role="tab" onclick="pressObjective('{{ objective.pk }}')">
                            {{objective.name}}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="container" style="height: 450; text-align: center;border-style: solid;border-radius: 25px;border-color: lightgray; border-width: thin;">
                    <div class="row">
                        <div class="col-2 border-right">
                            <br>
                            <a href="#" type="button" data-toggle="modal" data-target="#addContent">
                                <span class="fa-stack fa-lg">
                                  <i  style="color: dimgrey;" class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <br>
                            <br>
                            <div class="list-group" id="contents_list" role="tablist" style="border-radius: 5px;position: relative; height: 300px; overflow: auto; display: block;">
                                
                            </div>
                            <ul id="contents_ul" hidden>
                                {% for objective in obj_cont %}
                                    {% for content in objective.contents %}
                                        <li >
                                            {{objective.cap_obj_pk}}:{{content.pk}}%{{content.name}}
                                        </li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col">
                            <ul id="components_ul" hidden>
                                {% for content in cont_tech %}
                                    {% for component in content.media_comps %}
                                    <li >
                                        {{content.cont.pk}}:{{content.cont.name}}
                                    </li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                            <div class="container" style="position: relative; height: 300px; overflow: auto; display: block;">
                                <div class="row">
                                    <div class="col-2">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" style="margin-top: 25;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Add
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" style="cursor: pointer;" type="button" data-toggle="modal" data-target="#addText">Text</a>
                                                <a class="dropdown-item" style="cursor: pointer;" type="button" data-toggle="modal" data-target="#addImage">Image</a>
                                                <a class="dropdown-item" style="cursor: pointer;" type="button" data-toggle="modal" data-target="#addVideo">Video</a>
                                                <a class="dropdown-item" style="cursor: pointer;" type="button" data-toggle="modal" data-target="#addDocument">Document</a>
                                                <a class="dropdown-item" style="cursor: pointer;" type="button" data-toggle="modal" data-target="#addLink">Link</a>
                                                <a class="dropdown-item" style="cursor: pointer;" type="button" data-toggle="modal" data-target="#addGame">Game</a>
                                              </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <h1 class="display-4" style="margin-top: 10;" id="content_name"></h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" id="comp_list">
                                        <div id="comp_list" class="container">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- The Add Modal -->
{% include 'capabilities/new_content.html' %}
{% include 'capabilities/new_component.html' %}

<script>
    function quitActive(string) {
        let index = string.indexOf(' active');
        if (index > 0) {
            return string.substring(0, index) + string.substring(index + 7);
        } else {
            return string;
        }
    }

    function getIdByOnClick(element){
        let click = element.onclick.toString();
        let par = click.indexOf("('");
        //click="function onclick(event) {pressObjective('2')}"
        let idO = click.substring(par + 2, click.indexOf("'", par + 2));
        return idO;
    }

    function pressIndexOfList(index, listId) {
        let list = document.getElementById(listId);
        if (list.getElementsByTagName("a").length > 0) {
            let id = getIdByOnClick(list.getElementsByTagName("a")[index]);
            if (listId == 'obj_list') {
                pressObjective(id);
            } else {
                pressContent(id);
            }
        }
    }

    function pressObjective(id) {
        let string_id = id + "";

        //FOR POST:
        document.getElementById("_c").value = id + "_c";
        //-----------------------
        let list = document.getElementById("obj_list").getElementsByTagName("a");
        for (let i = 0; i < list.length; i++) {
            const element = list[i];
            element.className = quitActive(element.className);
            idO = getIdByOnClick(element);
            if (idO == string_id) {
                document.getElementById("objMant").value = i;
                element.className += " active";
            }
        }
        //----------PLACE CONTENTS-------------
        let contents_li = document.getElementById("contents_ul").getElementsByTagName("li");
        let contents_list = document.getElementById("contents_list");
        contents_list.innerHTML = '';
        for (let i = 0; i < contents_li.length; i++) {
            const element = contents_li[i].innerText;
            const obj_pk = element.substring(0, element.indexOf(':')).trim();
            const cont_pk = element.substring(element.indexOf(':') + 1, element.indexOf('%'));
            if (id == obj_pk) {
                contents_list.innerHTML += `
                <a href="#" class="list-group-item list-group-item-action list-group-item-secondary" onclick="pressContent('${cont_pk}')" data-toggle="list" href="#" role="tab">${element.substring(element.indexOf('%') + 1)}</a> 
                
                `;    
            //document.getElementById('label').innerText += '--' + element.substring(element.indexOf(':') + 1);
            }
        }  
        pressIndexOfList(0, 'contents_list');
    }

    function pressContent(id) {
        let string_id = id + "";

        //FOR POST:
        document.getElementById("textin").value = id + "&txt";
        document.getElementById("imagein").value = id + "&img";
        document.getElementById("videoin").value = id + "&vid";
        document.getElementById("documentin").value = id + "&doc";
        document.getElementById("linkin").value = id + "&lnk";
        document.getElementById("gamein").value = id + "&gme";
        //----------------------------------
        let list = document.getElementById("contents_list").getElementsByTagName("a");
        for (let i = 0; i < list.length; i++) {
            const element = list[i];
            element.className = quitActive(element.className);
            idO = getIdByOnClick(element);
            if (idO == string_id) {
                document.getElementById("contManttext").value = i;
                document.getElementById("contMantimage").value = i;
                document.getElementById("contMantvideo").value = i;
                document.getElementById("contMantdocument").value = i;
                document.getElementById("contMantlink").value = i;
                document.getElementById("contMantgame").value = i;
                element.className += " active";
                //-----
                document.getElementById("content_name").textContent = element.textContent;
            }
        }
        //----------PLACE COMPONENTS-------------
        let components_list = document.getElementById("comp_list");
        document.getElementById('label').innerText = '{{cont_tech.0.media_comps.0.types}}'











       
    }

</script>
<script>
    pressIndexOfList('{{obj_pos}}', 'obj_list');
    pressIndexOfList('{{cont_pos}}', 'contents_list');
</script>

{% endblock %}