
{% extends "trainer_app/templates/base_trainer.html" %}
{% load static %}


{% block content %}
<style>
    
    .vertical-center {
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

</style>
<form enctype="multipart/form-data" action="{% url 'description_and_image' id=cap_id %}" method="POST">
    {% csrf_token %}
    <div class="row" style="width: 100%; height: 75%; padding: 20;">
        <div class="col-1" style="height: 100%;">
            <a class="btn btn-outline-primary center" style="font-size: 150%; left: 40%;" href="{% url 'capability_name' id_str=cap_id %}">
                🡠
            </a>
        </div>
        <div class="col-5" style="height: 100%;">
            <div class="container center" style="width: 75%; padding-bottom: 40px; text-align: center;border-style: solid;border-radius: 10px;border-color: darkgrey; border-width: thin;">
                <h1 style="margin-top: 20px; margin-bottom: 30px;">Choose a description</h1>
                <div style="width: 100%;">
                    {{ form.cap_desc }}
                </div>
            </div>
        </div>
        <div class="col-5" style="height: 100%;">
            <div class="container center" style="width: 75%; word-wrap: break-word; padding-bottom: 40px; text-align: center;border-style: solid;border-radius: 10px;border-color: darkgrey; border-width: thin;">
                <h1 style="margin-top: 20px; margin-bottom: 30px;">Choose an image</h1>
                <div style="width: 100%;">
                    {{ form.cap_image }}
                </div>
            </div>
        </div>
        <div class="col-1" style="height: 100%;">
            <input class="btn btn-outline-primary center" style="font-size: 150%;" type="submit" value="🡢" />
        </div>
    </div>
</form>

{% endblock %}