
{% extends "trainer_app/templates/base_trainer.html" %}
{% load static %}


{% block content %}


<div class="container">
    <form action="{% url 'capability_name' id_str=cap_id %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-2"></div>
            <div class="col">
                <div class="container" style="padding-top: 5%; margin-top:10%; border-style: solid;border-radius: 10px;border-color: darkgrey; border-width: thin; position: relative; height: 300px; overflow: auto; display: block;">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8"">
                            <div style="text-align: center;">
                                <h1 style="margin-bottom: 15%;">Choose a name</h1>
                            </div>
                            <div style="text-align: center;">
                                {{ form.cap_name }}
                            </div>
                        </div>
                        <div class="col-2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <input class="btn btn-primary" style="font-size: 150%; margin-top: 450px;" type="submit" value="🡢" />
            </div>
        </div>
    </form>
</div>

{% endblock %}