{% block content %}

<form action="{% url 'contents' id=cap_id obj_pos=0 cont_pos=0%}" method="POST">
    {% csrf_token %}
    <div class="modal fade" id="addText" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add text</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                {{componentsForms.text.value}}
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input id="textin" name="action" value="text" hidden>
            <input id="contManttext" name="contMant" value="0" hidden>
            <input class="btn btn-primary" type="submit" value="Add"/>
            </div>
        </div>
        </div>
    </div>
</form>

<form enctype="multipart/form-data" action="{% url 'contents' id=cap_id obj_pos=0 cont_pos=0%}" method="POST">
    {% csrf_token %}
    <div class="modal fade" id="addImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add image</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                {{componentsForms.image.value}}
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input id="imagein" name="action" value="image" hidden>
            <input id="contMantimage" name="contMant" value="0" hidden>
            <input class="btn btn-primary" type="submit" value="Add"/>
            </div>
        </div>
        </div>
    </div>
</form>

<form enctype="multipart/form-data" action="{% url 'contents' id=cap_id obj_pos=0 cont_pos=0%}" method="POST">
    {% csrf_token %}
    <div class="modal fade" id="addVideo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add video</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                {{componentsForms.video.value}}
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input id="videoin" name="action" value="video" hidden>
            <input id="contMantvideo" name="contMant" value="0" hidden>
            <input class="btn btn-primary" type="submit" value="Add"/>
            </div>
        </div>
        </div>
    </div>
</form>

<form enctype="multipart/form-data" action="{% url 'contents' id=cap_id obj_pos=0 cont_pos=0%}" method="POST">
    {% csrf_token %}
    <div class="modal fade" id="addDocument" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add document</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                {{componentsForms.document.value}}
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input id="documentin" name="action" value="document" hidden>
            <input id="contMantdocument" name="contMant" value="0" hidden>
            <input class="btn btn-primary" type="submit" value="Add"/>
            </div>
        </div>
        </div>
    </div>
</form>

<form action="{% url 'contents' id=cap_id obj_pos=0 cont_pos=0%}" method="POST">
    {% csrf_token %}
    <div class="modal fade" id="addLink" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add link</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                {{componentsForms.link.value}}
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input id="linkin" name="action" value="link" hidden>
            <input id="contMantlink" name="contMant" value="0" hidden>
            <input class="btn btn-primary" type="submit" value="Add"/>
            </div>
        </div>
        </div>
    </div>
</form>

<form action="{% url 'contents' id=cap_id obj_pos=0 cont_pos=0%}" method="POST">
    {% csrf_token %}
    <div class="modal fade" id="addGame" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add game</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                {{componentsForms.game.value}}
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input id="gamein" name="action" value="game" hidden>
            <input id="contMantgame" name="contMant" value="0" hidden>
            <input class="btn btn-primary" type="submit" value="Add"/>
            </div>
        </div>
        </div>
    </div>
</form>
{% endblock %}