{% extends "common_app/templates/base.html" %}
{% load static %}

{% block sidebar %}
<div class="header">
    <div class="row" style="width: 100%;">
        <div class="col-1">
            <h1 class="logo">CiET</h1>
        </div>
        <div class="col-7">
            <ul style="margin-left: 30%;" class="nav nav-tabs nav-pagination" id="myTab" role="tablist">
                <li class="nav-item ">
                   <a class="nav-link {% if request.path == '/learner/capabilities/' %}active{% endif %} itemnav" href="{% url 'capabilities_learner' %}" >Capabilities</a>
                </li>
                <li class="nav-item ">
                   <a class="nav-link {% if request.path == '/learner/evaluations/' %}active{% endif %} itemnav" href="{% url 'evaluations_learner' %}" >Evaluations</a>
                </li>
                <li class="nav-item ">
                   <a class="nav-link {% if request.path == '/learner/ranking/' %}active{% endif %} itemnav" href="{% url 'ranking_learner' %}" >Ranking</a>
                </li>
                <li class="nav-item ">
                   <a class="nav-link {% if request.path == '/learner/profile/' %}active{% endif %} itemnav" href="{% url 'capabilities_learner' %}" >Profile</a>
                </li>
            </ul>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-8" style="margin-top: 10;text-align: right;">
                    <a class="profile-info" style="display: block;">{{name}}</a>
                    <a class="profile-info"><i>{{org}}</i></a>
                </div>
                <div class="col-4" style="text-align: left;">
                    <div class="dropdown">
                        <div class="btn" style="background: #40887A;" href="#" id="dropdownMenuLink" data-toggle="dropdown">
                            <img class="profile-img" src="{{learner.image.url}}" style="border-radius: 50%; width: 75; height:75; object-fit:cover;">
                        </div>
                        <div style="margin-right: 50%;" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                        </div>
                    </div>
                </div>
            </div>
                    
        </div>
    </div>
</div>

{% endblock %}