{% extends "common_app/templates/base.html" %}
{% load static %}

{% block sidebar %}
<div class="row header">
    <div class="col-2">
      <h1 class="logo">CiET</h1>
    </div>
    <div class="col">
      <ul class="nav nav-tabs nav-pagination" id="myTab" role="tablist">
        <li class="nav-item ">
          <a class="nav-link {% if request.path == '/learner/capabilities/' %}active{% endif %} itemnav" href="{% url 'capabilities_learner' %}" >Capabilities</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link {% if request.path == '/learner/evaluations/' %}active{% endif %} itemnav" href="{% url 'evaluations_learner' %}" >Evaluations</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link {% if request.path == '/learner/ranking/' %}active{% endif %} itemnav" href="{% url 'ranking_learner' %}" >Ranking</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link {% if request.path == '/learner/profile/' %}active{% endif %} itemnav" href="{% url 'capabilities_learner' %}" >Profile</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <div class="container row" style="margin-top: 5;">
        <label class="profile-info col" style="padding-top: 15;"> {{nombre}}<br><i>{{organizacion}}</i></label>
        <img class="profile-img" src="{% static 'common_app/img/unknown_profile.png' %}" width="75" height="75" >
      </div>
    </div>
  </div>
{% endblock %}



{% block content %}

{% endblock %}






