
{% extends "trainer_app/templates/base_trainer.html" %}
{% load static %}


{% block content %}
 

<div class="container" style="height: 500;">
    <div class="row" style="height: 100;">
        <div class="col-3">
            <button type="button" style="margin-top: 30;" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addObjective">
                Add
            </button>
        </div>
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <div style="border-style: solid;border-color: darkgrey; border-width: thin; position: relative; height: 400px; overflow: auto; display: block;">
                <table id="tableObj" class="table table-striped mb-0">
                  <thead>
                    <tr>
                    {% for column in table.columns %}
                      <th scope="col" style="background:white;text-align: center;">{{column}}</th>
                    {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                      {% for row in table.rows %}
                        <tr>
                            {% for attribute in row %}
                                <td style="text-align: center;">
                                    {% if forloop.last %}
                                        {{attribute}}
                                    {% else %}
                                        {{attribute}}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                      {% endfor %}
                  </tbody>
                </table>
            </div>

        </div>
        <div class="col-2"></div>
    </div>
</div>
    


<!-- The Add Modal -->
<form action="" method="POST">
{% csrf_token %}
    <div class="modal fade" id="addObjective" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add new objective</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <table>{{objectivesForm.as_table}}</table>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input class="btn btn-primary" type="submit" value="Save"/>
            </div>
        </div>
        </div>
    </div>
</form>


{% endblock %}